
/* Garrett's CSS */
.headlines {
    border: solid black 1px;
    height: 500px;
    width: 100%;
    margin: auto;
    margin-top: 100px;
    background-color: red;
    font-size: 100px;
}

/* Jasmin's CSS */
.weather {
    border: solid black 1px;
    height: 500px;
    width: 100%;
    margin: auto;
    margin-top: 50px;
    background-color: blue;
    font-size: 100px;
}

/* Kyle's CSS */
.form {
    border: solid black 1px;
    height: 500px;
    width: 100%;
    margin: auto;
    margin-top: 50px;
    background-color: green;
    font-size: 100px;
}